In [3]:
import numpy as np
x = np.array([2,4,5,3,6,5,7])
y = np.array([35,60,20,50,50,55,60])

In [16]:
import pandas as pd
df = pd.DataFrame({'weight':x, 'price':y})
df

   weight  price
0       2     35
1       4     60
2       5     20
3       3     50
4       6     50
5       5     55
6       7     60

In [10]:
df.describe()

              x          y
count  7.000000   7.000000
mean   4.571429  47.142857
std    1.718249  14.679107
min    2.000000  20.000000
25%    3.500000  42.500000
50%    5.000000  50.000000
75%    5.500000  57.500000
max    7.000000  60.000000

In [18]:
x = df['weight']
y = df['price']

In [28]:
mean_x = np.mean(x)
mean_y = np.mean(y)

In [31]:
mean_x

np.float64(4.571428571428571)

In [32]:
mean_y

np.float64(47.142857142857146)

In [33]:
dev_x = x-  mean_x
dev_y = y - mean_y

In [35]:
m = np.sum(dev_x * dev_y) / np.sum(dev_x**2)

In [36]:
m

np.float64(2.620967741935484)

Now calculate the intercept C here:
This is the Task: 1

In [37]:
c = mean_y - m * mean_x

In [38]:
c

np.float64(35.16129032258065)

Now predicted value for 6.50

In [39]:
m*6.50 + c

np.float64(52.197580645161295)

Now working in Task 2

In [41]:
predicted_value = m*x+c

In [42]:
predicted_value

0    40.403226
1    45.645161
2    48.266129
3    43.024194
4    50.887097
5    48.266129
6    53.508065
Name: weight, dtype: float64

In [50]:
df = pd.DataFrame({
    'weight': x,
    'price': y,
    'Predicted': predicted_value,
    'residuals': predicted_value - y
})

In [51]:
df

   weight  price  Predicted  residuals
0       2     35  40.403226   5.403226
1       4     60  45.645161 -14.354839
2       5     20  48.266129  28.266129
3       3     50  43.024194  -6.975806
4       6     50  50.887097   0.887097
5       5     55  48.266129  -6.733871
6       7     60  53.508065  -6.491935

Now working with MSE and MAE

In [54]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
mse = mean_squared_error(df['price'],df['Predicted'])

In [55]:
mse

167.30990783410135

In [56]:
mae = mean_absolute_error(df['price'],df['Predicted'])

In [57]:
mae

9.87327188940092

In [60]:
df = pd.DataFrame({
    'weight': x,
    'price': y,
    'Predicted': predicted_value,
    'residuals': predicted_value - y,
    'mae': mae,
    'mse':mse
})
df

   weight  price  Predicted  residuals       mae         mse
0       2     35  40.403226   5.403226  9.873272  167.309908
1       4     60  45.645161 -14.354839  9.873272  167.309908
2       5     20  48.266129  28.266129  9.873272  167.309908
3       3     50  43.024194  -6.975806  9.873272  167.309908
4       6     50  50.887097   0.887097  9.873272  167.309908
5       5     55  48.266129  -6.733871  9.873272  167.309908
6       7     60  53.508065  -6.491935  9.873272  167.309908

In [63]:
df.to_csv('data.csv', index=False)